/*SKILS*/

.skills {

    &__title {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__item {
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    &__progress {
        border: 1px solid #0000FF;
        border-left: none;
        width: 35%;
        height: 10px;
        float: right;
        padding-bottom: 8px;
        cursor: pointer;
        color: black;
        border-bottom: 1px dashed #0000FF;
        position: relative;
    }

    &__progress:before,
    &__progress:after {
        display: block;
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }

    &__progress:before {
        content: attr(title);
        width: 30px;
        background-color: rgba(0, 0, 0, .75);
        box-shadow: 0 0 20px #0000FF;
        bottom: -9px;
        left: 130px;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #FFF;
        border-radius: 5px;
    }

    &__progress:after {
        content: "";
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid rgba(0, 0, 0, .75);
        border-bottom: 10px solid transparent;
        left: 120px;
        bottom: 0px;
        margin-left: -10px;
    }

    &__progress:hover:before,
    &__progress:hover:after {
        opacity: 1;
        visibility: visible;
    }

    &__scale {
        height: 10px;
        background-color: #0000FF;
        box-sizing: border-box;

        &:hover {
            height: 19px;
        }
    }

    &__scale--html {
        width: 70%;
    }

    &__scale--css {
        width: 60%;
    }

    &__scale--jscript {
        width: 50%;
    }
}